:root {
  --font-color: #fff;
  --sec-color: #cd5c5c;
  --p-color: #777;
  --icon-color: #a9a9a9;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.custom_container {
  @media screen and (min-width: 1400px) {
    width: 76%;
  }
}

.section {
  padding: 4.5rem 0 4.5rem 0;
}
